<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/wui.css" />
    <link rel="icon" type="image/png" href="img/wui.png">
    <title>
        §TITLE§
    </title>
</head>

<body>
    §MENU§
    <header>
        §HEADER§
    </header>
    <p class="topline">
        Industrial <b>W</b>EB <b>U</b>ser <b>I</b>nterface <small>System</small>
    </p>
    <footer>
        §FOOTER§
    </footer>
    §CONTENT§
</body>

</html>